<!DOCTYPE html>
<style type="text/css">
    .root{
    display:flex;
    align-items:center;
    justify-content:center;
    }
    .subdiv{
    width:70%;
    height:auto;
    border:0.5px solid #bdc3c7;
    padding: 20px;
    margin-top: 80px;
    border-radius:10px;
    background-color:#ff3f34;
    }

    .heading{
    margin-top: 40px;
    }
    .body{
    background-color: #f53b57;
    }

</style>
<html lang="en">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Love Calculator - baba_bawandarnath</title>
    <link rel="icon" type="image/x-icon" href="D:\love.png">
</head>
<body class="body">
<center>
    <h1 class="heading">Love calculator 💘</h1>
    <form action="/submit">
        <div class="root">
            <div class="subdiv">
                <div class="form-group">
                <label>Boy's Name:</label>
                <input type="text" name="bname" class="form-control" placeholder="Enter name">
                </div>

                <div class="form-group">
                <label>Girl's Name:</label>
                <input type="text" name="gname" class="form-control" placeholder="Enter name">
                </div>

                <div class="form-group divbutton">
                    <input type="submit" class="btn btn-primary buttonstyle">
                </div>

                <div class="form-group">
                    <label>{{lc}}%</label>
                    <br>
                    <label>{{msg}}</label>
                </div>
            </div>
        </div>
    </form>
</center>

</body>
</html>